.App {
  font-family: sans-serif;
  text-align: center;
}

#container {
  display: grid;
  list-style: none;
  grid-template-columns: auto auto auto auto auto auto auto;
  row-gap: 15px;
  column-gap: 15px;
}

#container > li {
  border: 1px solid #000;
  padding: 3px;
}
